asgiref==3.2.10
comtypes==1.1.7
dj-database-url==0.5.0
Django==3.1.2
docx2pdf==0.1.7
gunicorn==20.0.4
importlib-metadata==1.7.0
lxml==4.6.1
Pillow==7.2.0
psycopg2==2.8.6
python-decouple==3.4
python-docx==0.8.10
pytz==2020.1
selenium==3.141.0
sqlparse==0.4.0
tqdm==4.53.0
urllib3==1.26.2
whitenoise==5.2.0
zipp==3.4.0
